<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
    <title>HOME</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="lo-nom">
                <img src="img/WhatsApp Image 2022-07-31 at 10.17.04 PM.jpeg" class="logo">
                <h3 class="nombre">Mimate</h3>
            </a>


            <div class="search-bar">
                <input type="search" placeholder="Buscar productos, marcas y más...">
                <button class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <ul class="text-bar">
                <li><a href="/login">
                        <h6 class="inicio">Inciar seción</h6> <i class="fa-solid fa-right-to-bracket"> </i>
                    </a> </li>
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
        <nav, class="main-navbar">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"> Inicio </a> </li>
                    <li><a href="#"> Productos </a> </li>
                    <li><a href="#"> Servicios </a> </li>
                    <li><a href="#"> Experiencia en Mimate </a> </li>
                    <li><a href="#"> Contacto </a> </li>
                    <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> </a> </li>
                </ul>
            </div>
            </nav>
    </header>
    <main>

        <img src="/img/18.jpg" class="banner">
        <div>
            <h3 class="servicios"> Nuestros Servicios</h3>
            <h2 class="descripcion"> En Mimate te ofrecemos la mejor experiencia de belleza</h2>
        </div>
        <section class="main-section">
            <article>
                <div class="articulos">
                    <img src="/img/1.png" alt="">
                    <p class="precio">200$</p>
                    <p class="descripciones">Producto</p>
            </article>
            <article>
                <img src="/img/5.png" alt="Producto">
                <p class="precio">$200</p>
                <p class="descripciones">Producto</p>
            </article>
            <article>
                <img src="/img/3.png" alt="">
                <p class="precio">200$</p>
                <p class="descripciones">Producto</p>
            </article>
            <article>
                <img src="/img/4.png" alt="Producto">
                <p class="precio">$200</p>
                <p class="descripciones">Producto</p>
                </div>
            </article>
        </section>
        <br>
        <div class="buton">
            <a href="./home.html">Ver Mas</a>
        </div>
        <br>
        <h3 class="productos"> Nuestros Productos </h3>
        <section>
            <article>
                <div class="articulos">
                    <img width=400px src="/img/14.jpg" alt="Producto">
                    <p class="precio">200$</p>
                    <p class="descripciones">Producto</p>
            </article>
            <article>
                <img src="/img/13.png" alt="Producto">
                <p class="precio"> 200$</p>
                <p class="descripciones">Producto</p>
            </article>
            <article>
                <img width=400px src="/img/12.png" alt="Producto">
                <p class="precio">200$</p>
                <p class="descripciones">Producto</p>
            </article>
            <article>
                <img src="/img/11.png" alt="Producto">
                <p class="precio"> 200$</p>
                <p class="descripciones">Producto</p>
                </div>
            </article>
        </section>
        <br>
        <div class="buton">
            <a href="views/home.html">Ver Mas</a>
        </div>
        <br>
    </main>
    <footer>
        <div class="footer-comp">
            <div class="footer-top">
                <h3 class="tit">Mimate</h3>
                <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i
                        class="fa-brands fa-facebook"></i></a> <a href="#"><i class="fa-brands fa-whatsapp"></i></a> <a
                    href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <br>

            <section class="footer">
                <article class="links-footer">
                    <h6>En Mimate:</h6>
                    <p>Estamos de lunes a jueves desde 9hs hasta 20hs.</p>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Links:</h6>
                    <ul>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Tratamientos</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Dudas frecuentes</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Cuenta:</h6>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Mi carrito</a></li>
                        <li><a href="#">Envios</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Contacto:</h6>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i> E-mail</a></li>
                        <li><a href="#"><i class="fa-solid fa-phone"></i> Telefono</a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                        <li><a href="#">Formas de pago:</a></li>
                        <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-visa"></i> <i
                            class="fa-brands fa-cc-amex"></i> <i class="fa-brands fa-cc-diners-club"></i>
                    </ul>
                </article>
            </section>
        </div>
    </footer>
</body>

</html>