<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/home.css">
    <title>HOME</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="main-sub">

            <div class="video">
                <video src="/img/videohome.mp4" type="video/mp4" autoplay="true" muted="true" loop="true"></video>
            </div>
            <section class="servicios">
                <div>
                    <h3 class="titulo"> Nuestros Servicios</h3>
                    <h4 class="sub-tit"> En Mimate te ofrecemos la mejor experiencia de belleza</h4>
                </div>
                <br>
                <div class="articulos">
                    <article class="articulo1">
                        <img src="img/1.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo2">
                        <img src="img/5.png" alt="producto">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo3">
                        <img src="img/3.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo4">
                        <img src="img/4.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                </div>
            </section>
            <br>
            <div class="buton">
                <a href="#">Ver Mas</a>
            </div>
            <br>
            <section class="servicios">
                <h3 class="titulo"> Nuestros Productos </h3>
                <br>
                <div class="articulos">
                    <article class="articulo1">
                        <img src="img/9.png" alt="producto">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo2">
                        <img src="img/13.png" alt="producto">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo3">
                        <img src="img/12.png" alt="producto">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo4">
                        <img src="img/11.png" alt="producto">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                </div>
            </section>
            <br>
            <div class="buton">
                <a href="#">Ver Mas</a>
            </div>
            <br>
        </div>
    </main>
    <footer>
        <div class="footer-comp">
            <div class="footer-top">
                <h3 class="tit">Mimate</h3>
                <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i
                        class="fa-brands fa-facebook"></i></a> <a href="#"><i class="fa-brands fa-whatsapp"></i></a> <a
                    href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <br>
            <section class="footer">
                <article class="links-footer">
                    <h6>En Mimate:</h6>
                    <p>Estamos de lunes a jueves desde 9hs hasta 20hs.</p>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Links:</h6>
                    <ul>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Tratamientos</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Dudas frecuentes</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Cuenta:</h6>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Mi carrito</a></li>
                        <li><a href="#">Envios</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Contacto:</h6>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i> E-mail</a></li>
                        <li><a href="#"><i class="fa-solid fa-phone"></i> Telefono</a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                    </ul>
                    <br>
                    <h6>Formas de pago:</h6>
                    <div class="iconos">
                        <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-visa"></i> <i
                            class="fa-brands fa-cc-amex"></i> <i class="fa-brands fa-cc-diners-club"></i>
                    </div>
                </article>
            </section>

            <div class="copyright">
                <p>Copyright Mimate - 2022. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>

</html>