<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff9aab0ecf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <img src="img/WhatsApp Image 2022-07-31 at 10.17.04 PM.jpeg" class="logo">
            <h3 class="nombre">Mimate</h3>
            <div id="buscador">
                <p id="search-bar">  Buscar productos, marcas  </p> 
                <i id = "buscar" class="fa-solid fa-magnifying-glass"></i>
            </div>
            <ul class=" text-bar">
                <li><a href="#">Inciar seción <i class="fa-solid fa-right-to-bracket"> </i> </a> </li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar"> 
            <ul>
                <li><a href="#"> Inicio </a> </li>
                <li><a href="#"> Productos </a> </li>
                <li><a href="#"> Servicios </a> </li>
                <li><a href="#"> Experiencia en Mimate </a> </li>
                <li><a href="#"> Contacto </a> </li>
                <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> </a> </li>
            </ul>
            </nav>
    </header>
</body>
</html>