<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff9aab0ecf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
                <a href="/" class="lo-nom">
                 <img src="img/WhatsApp Image 2022-07-31 at 10.17.04 PM.jpeg" class="logo">
                <h3 class="nombre">Mimate</h3>
            </a>
        </div>
    </header>
    <main>
        <div class="main-login"> 
        <h1>¡Hola de nuevo!</h1>
        <section class="inicio1">
        <form action="/login" method="post" class="create-form">
            <div class="control-formulario">
                <label>Email:</label>
                <input type="email" name="email" placeholder="correo electronico" class="control">
            </div>
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="password" placeholder="contraseña" class="control" required>
            </div>
            <div class="control-formulario2">
                <button type="submit" class="button"> <a href="/"></a>Iniciar Sesion</button> <br>
                <button> <a href="#"></a>Iniciar con google</button>
                </div>
                <div class="control-formulario2">
                    <a href="#">No recuerdo mi contraseña</a><br>
                    <a href="/register">Crear cuenta</a>
                </div>
            

        </form>
        </section>
    </div>
    </main>
    <footer>
        <section class="footer">
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Contacto</h2>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">E-mail</a></li>
                    <li><a href="#">Telefono</a></li>
                    <li><a href="#">Telefono</a></li>
                </ul>
            </article>
        </section>
    </footer>
</body>

</html>