<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff9aab0ecf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/poductDeta.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="lo-nom"> <img src="img/WhatsApp Image 2022-07-31 at 10.17.04 PM.jpeg" class="logo">
                <h3 class="nombre">Mimate</h3>
            </a>


            <div class="search-bar">
                <input type="search" placeholder="Buscar productos, marcas y más...">
                <button class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <ul class="text-bar">
                <li><a href="/login">
                        <h6 class="inicio">Inciar seción</h6> <i class="fa-solid fa-right-to-bracket"> </i>
                    </a> </li>
                <li><a href="/productoCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>


        <nav, class="main-navbar">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"> Inicio </a> </li>
                    <li><a href="#"> Productos </a> </li>
                    <li><a href="#"> Servicios </a> </li>
                    <li><a href="#"> Experiencia en Mimate </a> </li>
                    <li><a href="#"> Contacto </a> </li>
                    <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> </a> </li>
                </ul>
            </div>
            </nav>
    </header>
    <main>
        <div class="main-sub">
            <p class="inicio-bar"><a href="/">Inicio</a> > <a href="#">Productos</a> > <a href="/productDetail">Nombre
                    del producto</a></p>
            <section class="product">
                <img class="product-img" src="/img/11.png" alt="">
                <div class="detalle">
                    <h3 class="product-name">Nombre del producto</h3>
                    <h6 class="precio">$600</h6>
                    <div class="pay">
                        <i class="fa fa-credit-card"></i>
                        <p>6 cuotas sin interes de <strong>100</strong></p>
                    </div>
                    <div class="pay">
                        <i class="fa fa-credit-card"></i>
                        <p>%15 con tranferencia</p>
                    </div>
                    <a href="#">Ver medios de pago</a>
                    <br>
                    <input id="button" type="button" value="Agregar al Carrito" href="/productCart">
                    <div class="envios">
                        <p class="envio-text">Medios de envio</p>

                        <div class="envio">
                            <input class="text-cod" type="search" value="">
                            <input class="calcular" type="button" value="Calcular">
                        </div>

                        <a href="#">No se mi codigo postal</a>
                    </div>
                    <p class="compartir">Compartir: <i class="fa-brands fa-instagram"></i> <i
                            class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-whatsapp"></i></p>
                </div>
                <div class="descripicion">
                    <h4>Descripcion:</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deleniti veritatis nam placeat
                        obcaecati ducimus impedit, repellendus autem recusandae quaerat magnam illum qui illo nesciunt
                        non dolor quod itaque iusto.</p>
                </div>
            </section>
            <section class="product-relac">
                <br>
                <h3 class="titulo">Producto relacionados:</h3>
                <br>
                <div class="articulos">
                    <article class="articulo1">
                        <img src="img/1.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo2">
                        <img src="img/2.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo3">
                        <img src="img/3.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                    <article class="articulo4">
                        <img src="img/4.png" alt="i">
                        <div class="descripcions">
                            <p class="precios">$200</p>
                            <p class="descripciones">Producto</p>
                        </div>
                    </article>
                </div>
        </div>
        </div>
        </section>
        <br>
    </main>
    <footer>
        <section class="footer">
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
            <article class="links-footer">
                <h2>Titulo</h2>
                <a href="#">texto</a>
                <a href="#">texto</a>
                <a href="#">texto</a>
            </article>
        </section>
    </footer>
</body>

</html>