* {
    box-sizing: border-box;
}

main {
    background-color: #f5eee8;
    font-family: 'Abhaya Libre', serif;
    padding: 30px;
}

.product {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    flex-wrap: wrap;
}

.img-product{
    width: 15%;
    border-radius: 6px;
}
h2{
    font-size: 16px;
}
p{
    font-size: 14px;
}

#cantidad{
    width: 40px;

}

.resumen {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(213, 208, 208, 0.603);
    width: 35%;
    margin: 3% 60% 3%;

}


.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.total-precio{
    font-size: 18px;
}

.label2 {
    width: 25%;
    text-align: right;
    padding: 8px;
    background-color: #f5eee89e;
    border-color: #faf7f448;
}

.seguir-comprando{
    text-decoration: none;

}



footer {
    background-color: #e1c2b7;
    padding: 30px;
    width: 100vw;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;

}

.links-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}

.links-footer h2 {
    font-size: 100%;
    text-align: center;
}



@media (min-width: 420px) {


}

@media (min-width: 768px) {

    

}


@media (min-width: 1200px) {

    .main-cart {
        max-width: 1200px;
        margin: auto;
    }


}