

main {
    background-color: #f5eee8;
    padding: 30px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 8px 8px;
    border-radius: 8px;
    background-color: white;
}

.product1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 70%;
}
.descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 90%;
}
.name {
    display: flex;
    flex-direction: column;
}
.name1 {
    display: flex;
    flex-direction: column;
}
.name2 {
    margin-top: 10px;
    width: 30%;

}

.img-product{
    width: 25%;
    border-radius: 6px;
    margin-top:-2px
}
.name1 h2{
    font-size: 18px;
}
.name1 p{
    font-size: 16px;
}

 h2{
    font-size: 16px;
}
 p{
    font-size: 14px;
}

#cantidad{
    width: 40px;
}

.resumen {
    padding: 8px;
    border-radius: 6px;
    background-color: rgba(213, 208, 208, 0.603);
    width: 50%;
    margin: 3% 50% 3%;

}


.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
}

.total-precio{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 3px;
}

.label2 {
    width: 25%;
    text-align: right;
    padding: 4px;
    margin: 4px;
    background-color: #f5eee89e;
}

.seguir-comprando{
    text-decoration: none;

}






@media (min-width: 480px) {
    h2{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    
    .product1 { 
            flex-direction: row;
            width: 75%;
    }
    .img-product{
        width: 20%;
        margin-top: -15px;
    }

    .descripcion {
        width: 50%;
    }
    .name1 {
        width: 50%;
    }

}

@media (min-width: 768px) {

    

}


@media (min-width: 1200px) {

    .main-cart {
        max-width: 1200px;
        margin: auto;
    }


}