* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3{
    font-size: 24px;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    text-align: center;
}
.servicios, .descripcion{
    text-align: center;
}
h2{
    font-size: 15px;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    text-align: center;
}
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.articulos{
    justify-content: space-between;
}
.banner{
    width: 70%;
    justify-content: space-between;
    display: flex;
}
article{
    width: 250px;
    height: 250px;
    background-color: #F5EEE8;
    border-radius: 1px solid black;
    box-shadow: 0 0 5px rgb(100, 100, 100);
    border-radius: 12px;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article img {
    width:70%;
    padding:10px 0;
    margin: auto;
}
.detalle {
    width: 90%;
    margin: 0 20px;
}
.descripciones{
    font-size: 16px;
    margin: 5px;
}
.precio {
    font-size: 14px;
    margin: 5px;
}
div.buton{
   justify-items: center;
   display: flex;
}
@media (min-width: 420px){
    .article {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    img {
        width: 70px;
    }

}
@media (min-width: 768px){

}

@media (min-width: 1200px) {
    

}