* {
    box-sizing: border-box;
}

body {
    font-family: 'Abhaya Libre', serif;
}

.main-header {
    background-color: #be9485;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-around;
}


.hamburguer-button {
    color: #000000;
    display: block;
    max-width: 50px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto 2px;
}

.logo {
    margin: 0 15px;
    padding-bottom: 5px;
    width: 50px;
}

#buscador {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    /* width: 50vw; */
}

#buscar {
    /* background-color: #ebebeb;
    border: solid 0.6px black; */
    color: black;
    padding: 3px;
    margin: auto;
}

#search-bar {
    display: none;
    background-color: #ebebeb;
    border: solid 0.6px rgb(132, 131, 131);
    border-radius: 3px;
    color: #666;
    width: 30vw;
    padding: 3px;
    margin: auto;
}

.top-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.text-bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #222222;
    padding: 5px;
    font-size: 18px;

}

.inicio {
    display: none;
    margin: 0;
    padding: 0 5px;
}

.main-navbar {
    display: none;
    background-color: #e1c2b7;
    margin: 0;
}


.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;

}


@media (min-width: 460px) {
    .top-bar {
        display: flex;
        justify-content: space-between;

    }

    .inicio {
        display: block;
    }

    .text-bar {
        max-width: 350px;
        text-align: right;
    }


    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-evenly;

    }

    .main-navbar ul {
        display: flex;
    }

    #search-bar {
        display: block;

    }
}

@media (min-width: 768px) {
    .top-bar {
        display: flex;
        justify-content: space-between;

    }

    .text-bar {
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: center;


    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {

    .top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .top-bar {
        align-items: center;
    }

    .text-bar {
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }

    .main-navbar {
        margin-top: 40px;
    }


    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;

    }


}