* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
}


.main-header {
    background-color: #be9485;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    text-align: center;
    align-content: center;
}

.text-bar a h6, .text-bar a i {
    font-size: 14px;
}
.lo-nom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: #222222;
}


.hamburguer-button {
    color: #000000;
    display: block;
    max-width: 50px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto 2px;
}

.logo {
    padding-bottom: 5px;
    width: 50px;
    display: none;
}

.nombre {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 10px;
}

.search-bar{
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    
}
.search-bar input{
    border: none;
    width: 85%;
    font-size: 14px;
}
.search-icon {
    border: none;
    color: #666;
    background-color: transparent;
    width: 10%;
}
.search-icon i {
    font-size: 12px;
}

.top-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.text-bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #222222;
    padding: 5px;

}

.inicio {
    display: none;
    margin: 0;
    padding: 0 5px;
}

.main-navbar {
    display: none;
    background-color: #e1c2b7;
    margin: 0;
}


.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    font-size: 16px;
    padding: 5px 0;
}

footer {
    background-color:#be9485; 
}

.footer-comp {
    padding: 10px;
}
.footer-top {
    text-align: center;
}
.footer-top a {
    color: #000000;
}
.tit {
    margin-top: 20px;
}
footer h6 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
}

footer article {
    margin: 10px;
}
footer li {
    margin: 5px 0;
}
footer li a {
    text-decoration: none;
    color: #000000;
}
.iconos { 
    text-align: center;
}
.copyright {
text-align: left;
padding: 10px;
font-size: 12px;
}


@media (min-width: 480px) {
    .logo {
        display: block;
    }

    .inicio {
        display: block;
    }

    .text-bar {
        max-width: 350px;
        text-align: right;
    }
    .search-bar {
        width: 35%;
        justify-content:space-evenly;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: block;
    }
    .nav-bar ul {
        display: flex;
        justify-content: space-evenly;

    }
    .nombre {
        font-size: 21px;
        margin-left: 0;
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
    .links-footer {
        width: 25%;
    }
    footer h6 {
        text-align: left;
    }
    footer li a, footer p {
        font-size: 16px;
    }
    .iconos { 
        text-align: left;
    }
    .copyright {
        font-size: 14px;
        }

}

@media (min-width: 768px) {
   
    .nombre {
        font-size: 25px;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .main-navbar a {
        font-size: 18px;
    }
    .search-bar {
        width: 50%;
        justify-content:space-between;
    }
    footer h6 {
        font-size: 20px;
    }
    footer li a, footer p {
        font-size: 18px;
    }

}
@media (min-width: 1200px) {

    .top-bar, .nav-bar, .footer-comp {
        max-width: 1200px;
        margin: auto;
    }

    .top-bar {
        align-items: center;
    }

    .text-bar {
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }


    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;

    }

}