<header class="main-header">
    <div class="top-bar">
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <a href="/" class="lo-nom">
            <img src="/imgProducts/LOGO.svg" class="logo">
            <h3 class="nombre">Mimate</h3>
        </a>


        <form action="/" method="GET" class="search-bar">
            <input type="search" placeholder="Buscar productos, marcas y más...">
            <button class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <ul class="text-bar">
            <% if (locals.isLogged) { %>

                <li>
                    <a href="#">
                        <img src="<%= locals.userLogged.image %>" width="20px" style="border-radius: 100%;">

                        <h6 class="inicio">Hi <%= locals.userLogged.nombre %> ↓</h6>
                    </a>
                    <ul class="dropdown-menu">
                       <li><a href="/user/profile">
                            <h6 class="inicio">My profile</h6>
                        </a></li>


                        <% if (locals.userLogged.category==="admin" ) { %>
                            <li><a href="/products/admin">
                                <h6 class="inicio">Admin</h6>
                            </a></li>
                        <% } %>
                                <li>
                                <a href="/user/logout">
                                    <h6 class="inicio">Logout</h6>
                                </a>
                                </li>

                    </ul>

                </li>
                <% } else { %>

                    <li><a href="/user/login">
                            <h6 class="inicio">Inciar sesión</h6> <i class="fa-solid fa-right-to-bracket"> </i>
                        </a> </li>
                    <% } %>
                        <li><a href="/user/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>

        </ul>

    </div>


    <nav, class="main-navbar">
        <div class="nav-bar">
            <ul>
                <li><a href="/"> Inicio </a> </li>
                <li><a href="/products/products"> Productos </a> </li>
                <li><a href="/products/services"> Servicios </a> </li>
                <li><a href="#"> Experiencia en Mimate </a> </li>
                <li><a href="#"> Contacto </a> </li>
                <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> </a> </li>
            </ul>
        </div>
        </nav>
</header>