<header class="main-header">
    <div class="top-bar">
        <a href="/" class="lo-nom">
            <img src="../img/LOGO.svg" class="logo">
            <h3 class="nombre">Mimate</h3>
        </a>
    </div>
</header>