<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff9aab0ecf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cart</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="lo-nom">
                <img src="img/LOGO.svg" class="logo">
                <h3 class="nombre">Mimate</h3>
            </a>


            <form action="/" method="GET" class="search-bar">
                <input type="search" placeholder="Buscar productos, marcas y más...">
                <button class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <ul class="text-bar">
                <li><a href="/login">
                        <h6 class="inicio">Inciar sesión</h6> <i class="fa-solid fa-right-to-bracket"> </i>
                    </a> </li>
                <li><a href="/productoCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>


        <nav, class="main-navbar">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"> Inicio </a> </li>
                    <li><a href="#"> Productos </a> </li>
                    <li><a href="#"> Servicios </a> </li>
                    <li><a href="#"> Experiencia en Mimate </a> </li>
                    <li><a href="#"> Contacto </a> </li>
                    <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> </a> </li>
                </ul>
            </div>
            </nav>
    </header>
    <main>
        <div class="main-cart">
            <h1>Carrito de compras</h1>
            <section class="product">
                <img class="img-product" src="/img/3.png" alt="maquilaje">
                <div class="product1">
                    <div class="name1">
                        <h2>Nombre del producto</h2>
                        <p>Maquillaje</p>
                    </div>

                    <div class="descripcion">
                        <div class="name">
                            <h2>Cantidad</h2>
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <!-- <input type="number" name="cantidad" id="cantidad"> -->

                        </div>
                        <div class="name">
                            <h2>Precio</h2>
                            <p>$200</p>
                        </div>
                        <div class="name2">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section class="resumen">
                <div class="label">
                    <h2>Total productos</h2>
                    <p class="label2">1</p>
                </div>
                <div class="label">
                    <h2>Envio</h2>
                    <p class="label2">$100</p>
                </div>
                <div class="total">
                    <h2>TOTAL</h2>

                    <p class="total-precio">$300</p>
                </div>
            </section>
            <a class="seguir-comprando" href="/"><i class="fas fa-angle-left"></i> Seguir comprando</a>
        </div>
    </main>
    <footer>
        <div class="footer-comp">
            <div class="footer-top">
                <h3 class="tit">Mimate</h3>
                <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i
                        class="fa-brands fa-facebook"></i></a> <a href="#"><i class="fa-brands fa-whatsapp"></i></a> <a
                    href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <br>
            <section class="footer">
                <article class="links-footer">
                    <h6>En Mimate:</h6>
                    <p>Estamos de lunes a jueves desde 9hs hasta 20hs.</p>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Links:</h6>
                    <ul>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Tratamientos</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Dudas frecuentes</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Cuenta:</h6>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Mi carrito</a></li>
                        <li><a href="#">Envios</a></li>
                    </ul>
                </article>
                <br>
                <article class="links-footer">
                    <h6>Contacto:</h6>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i> E-mail</a></li>
                        <li><a href="#"><i class="fa-solid fa-phone"></i> Telefono</a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                    </ul>
                    <br>
                    <h6>Formas de pago:</h6>
                    <div class="iconos">
                        <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-visa"></i> <i
                            class="fa-brands fa-cc-amex"></i> <i class="fa-brands fa-cc-diners-club"></i>
                    </div>
                </article>
            </section>
        </div>
        <div class="copyright">
            <p>Copyright Mimate - 2022. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>