<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/login.css">
        <title>Login</title>
</head>

<body>
    <%- include('../partials/header2') %>
        <main>
            <div class="main-login">
                <h1>¡Hola de nuevo!</h1>
                <section class="inicio1">
                    <form action="/" method="post" class="create-form">
                        <div class="control-formulario">
                            <label>Email:</label>
                            <input type="email" name="email" class="control" required>
                            <span class="feedback"></span>
                        </div>
                        <div class="control-formulario">
                            <label>Contraseña:</label>
                            <input type="password" name="password" class="control" required>
                        </div>
                        <div class="control-formulario2">
                            <button type="submit" class="button">Iniciar Sesion</button> <br>
                            <button> <a href="#">Iniciar con google</a></button>
                        </div>
                        <div class="control-formulario2">
                            <a href="#">No recuerdo mi contraseña</a><br>
                            <a href="/user/register">Crear cuenta</a>
                        </div>


                    </form>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>