<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="main-cart">
            <h1>Carrito de compras</h1>
            <section class="product">
                <img class="img-product" src="../img/3.png" alt="maquilaje">
                <div class="product1">
                    <div class="name1">
                        <h2>Nombre del producto</h2>
                        <p>Maquillaje</p>
                    </div>

                    <div class="descripcion">
                        <div class="name">
                            <h2>Cantidad</h2>
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <!-- <input type="number" name="cantidad" id="cantidad"> -->

                        </div>
                        <div class="name">
                            <h2>Precio</h2>
                            <p>$200</p>
                        </div>
                        <div class="name2">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section class="resumen">
                <div class="label">
                    <h2>Total productos</h2>
                    <p class="label2">1</p>
                </div>
                <div class="label">
                    <h2>Envio</h2>
                    <p class="label2">$100</p>
                </div>
                <div class="total">
                    <h2>TOTAL</h2>

                    <p class="total-precio">$300</p>
                </div>
            </section>
            <a class="seguir-comprando" href="/"><i class="fas fa-angle-left"></i> Seguir comprando</a>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>