<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/register.css">
        <title>Register</title>
</head>

<body>
    <%- include('../partials/header2') %>
        <main>
            <div class="main-register">
                <h1>Crear cuenta</h1>
                <p>Comprá más rápido y lleva el control de tus pedidos. ¡En un solo lugar!</p>

                <section class="inicio1">
                    <form action="/user/register" method="POST" enctype="multipart/form-data" class="create-form">
                        <div class="parte-arriba">
                            <div class="control-formulario">
                                <label>Nombre:</label>
                                <input type="text" name="nombre" class="control" required>
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Apellido:</label>
                                <input type="text" name="Apellido" class="control">
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Email:</label>
                                <input type="email" name="email" class="control" required>
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Telefono:</label>
                                <input type="tel" name="telefono" class="control">
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Contraseña:</label>
                                <input type="password" name="password" class="control" required>
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Confirmar contraseña:</label>
                                <input type="password" name="confirmPassword" class="control" required>
                                <span class="feedback"></span>
                            </div>
                            <div class="control-formulario">
                                <label>Agregar Imagen:</label>
                                <input type="file" name="image" class="control" required>
                                <span class="feedback"></span>
                            </div>
                        </div>
                        <div class="control-formulario2">
                            <button type="submit" class="button">Crear cuenta</button>
                            <p>or</p>
                            <button> <a href="#">Iniciar con google</a></button>
                        </div>
                        <div class="control-formulario2">
                            <a href="/user/login">¿Ya tienes una cuenta? Inicia sesión</a>

                    </form>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>